@import "../../../styles/setings.scss";

.descriptionOne{
    margin:0;
    padding: 0;
    margin-top: 2%;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content:center;
    .textOne{
        text-align: justify;
        width: 50%;
        h1{
            font-size: xx-large;
        }
        p{
            font-size: x-large;
        }
        
    }
    .pictureOne{
        display: flex;
        justify-content:center;
        height: 400px;;
        img{
            object-fit:cover;
        }
        
    }
}

.descriptionTwo{

    margin:0;
    padding: 0; 
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    .textTwo{
        text-align: justify;
        width: 50%;
        
        
        h1{
            font-size: xx-large;
        }
        p{
            font-size: x-large;
        }
        
    }
    .pictureTwo{
        display: flex;
        justify-content:center;
        width: 50%;
        height: 400px;

        img{
            object-fit:cover;
           
        }
    }
}
.descriptionThere{
    margin:0;
    padding: 0;
    margin-top: 2%;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content:center;
    
    .textThere{
        text-align: justify;
        width: 50%;
        h1{
            font-size: xx-large;
        }
        p{
            font-size: x-large;
        }
        
    }
    .pictureThere{
        display: block;
        justify-content:center;
        max-height: 20%;
        max-width: 20%;
        img{
             object-fit:cover;
        }
        
    }
}
h1{
    color: $primaryTwo;
}

@media (max-width: 767px){
    
    .descriptions{
        img{
            display:none;
        }
    }

    .textThere, .textTwo, .textOne{
        display: flex;
        flex-direction: column;
        font-size: small;
        justify-content: center;
        padding-right: 0;
        
    }

    .pictureOne, .pictureTwo, .pictureThere{
        position: absolute;

    }

}