@import "../../../styles/setings.scss";

.menu{
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    margin-top: 2%;
    margin-right:14%;
    gap: 10%;
        a{      
                
                background-color: $primaryTwo;
                color: $primary;
                padding: 4% 14%;
                min-width: 30%;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 100%;
                margin: 4px 2px;
                border-radius: 50px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease;
                
                    &:hover{
                        background-color: $primary;
                        color: $PrimaryBackground;
                    }
        
         }

}