@import '../../../styles/setings.scss';

.contactBox{
    display: flex;
    justify-content: center;
    align-items: center;

    .inputBox{

        padding-right: 10%;

        input{
            
            min-height: 10%;
            min-width: 90%;
            font-size: xx-large;



        }
    }
}
input[name="message"] {
    height: 18rem;
    width: 120%;
}

.buttonSubmit, .box-lvlProgram{
    background-color: $primaryTwo;
    color: $primary;
    padding: 3% 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

        &:hover{
            background-color: $primary;
            color: $PrimaryBackground;
        }
}






