@import '../../../styles/setings.scss';

.contactBox{
    display: flex;
    justify-content: center;
    align-items: center;

    .inputBox{

        padding-right: 10%;

        input{
            
            min-height: 10%;
            min-width: 90%;
            font-size: xx-large;



        }
    }
}
input[name="message"] {
    height: 18rem;
    width: 120%;
}







