//COLOR VARIABLES
$primary: white;
$primaryTwo: #f67320;
$PrimaryBackground: rgb(52,11,116);

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background: $PrimaryBackground;
    background: radial-gradient(circle, rgba(52,11,116,1) 69%, rgba(52,11,116,0.9500000683867297) 99%);
    color: $primary;
    margin:0;
	padding:0;
	height:100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    *, *:before, *:after {
  box-sizing: border-box;
}
}