@import '../../../styles/setings.scss';


.productContainer{
    
    display: grid;
    grid-template-columns: 5% 90% 5%;
    //justify-items: center;
}

.productCards{
    // display: flex;
    // flex-wrap: noWrap;
    // justify-content: auto;
    // scroll-behavior: smooth;
    // overflow-x: scroll;
    // overflow: hidden;
    display: grid;
    /* auto auto is telling the browser to render two rows, if needed */
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-row-gap: 2%;
    overflow: hidden;
    

    
}
.arrowB{
    background: transparent;
    color: $primary;
    font-size: xx-large;
    border: hidden;
    
}
.card-body{
max-height: 200px;
}


//SLIDER

body{
    font-family: 'Lato', sans-serif;
  }
  
  .wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
  .link_wrapper{
    position: absolute;
    right: 17%;
    top: 60%;
  }
  
  a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: $primaryTwo;
    text-align: center;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid $primaryTwo;
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: $primaryTwo;
    transition: all .35s;
  }
  
  a:hover{
    width: 200px;
    border: 3px solid $primaryTwo;
    background: transparent;
    color: $primaryTwo;
  }
  
  a:hover + .icon{
    border: 3px solid $primaryTwo;
    right: -25%;
  }