@import "../../../styles/setings.scss";

.container{
    background: rgb(52,11,116);
    background: linear-gradient(0deg, rgba(52,11,116,1) 35%, rgba(68,0,177,1) 100%);
    height: 100%;
    width: 100%;

    h3{
        margin-top: 0;
    }
}


.logoAndMenu{
    width: 100%;
    display: flex;
    justify-content: flex-end;


    img{
        position: absolute;
        left: 0;
        top:0;
        width: 10%;
        height: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        // margin-left: 3%;
        padding: 0;
        background: white;
        // border:  1px solid white;
        border-radius: 50%;
    }
}

.right{
    width: 50%;
    display: flex;
    justify-content: flex-end;

     .info{
        margin-left: 100%;
        padding-top: 1%;
    }
}

@media (max-width: 767px ){
    .logoAndMenu{
        display: flex;
        justify-content: flex-end;
    }

    .info{
        font-size:x-small;
        text-align: center;
        margin-top: 3%;
        flex-direction: column;

        
    }
}