

.footer{
    
    position: relative;
    background: rgb(68,0,177);
    background: linear-gradient(0deg, rgba(68,0,177,1) 65%, rgba(52,11,116,0.9696079115239846) 100%);
    padding-bottom: 1%;
    text-align: center;
    width: 100%;
    bottom: -12%;
    

}